
.vs/Virtuous.sqlite
.vs/Virtuous/v15/.suo
.vs/Virtuous/v15/Server/sqlite3/db.lock
.vs/Virtuous/v15/Server/sqlite3/storage.ide
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/Virtuous.csproj.CopyComplete
obj/Debug/Virtuous.csproj.CoreCompileInputs.cache
obj/Debug/Virtuous.csproj.FileListAbsolute.txt
obj/Debug/Virtuous.csprojResolveAssemblyReference.cache
obj/Debug/Virtuous.dll
*.pdb
*.cache
*.pdn
*.sqlite
*.json
VirtuousSprites.zip
Forum thread.txt
cap1.png
cap2.png
cap3.png
cap4.png
cap5.png
